# Bazel
bazel-*

# PlatformIO
.pio/

# CMake / Make
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Logs
telemetry_log_*.csv

# OS
.DS_Store
